h1 {
    color: rgb(19, 95, 236);
    font-size: 55px;
    margin-top: 10px;
    font-family:monospace;
}
h2{
    font-size: 50px;
    margin-top: 10px;
    font-family:monospace;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    background-image: url("Varios.jpg");
}

header {
    width: 100%;
    height: 100px;
    background: #d2f0eaab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #000000;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #ffffff;
    background: #00aeff;
}
.container{
    height: 300px;
    display: flex;
    justify-content: center;
}
.Cadastro form {
    display: inline-block;
    flex-direction: column;
    width: 10%;
    
}

.Cadastro {
    justify-content: center;
    margin-left: 400px;
    margin-top: 80px;
}
.Cadastro label {
    font-size: 30px;
}

.Cadastro input {
    width: 1100px;
    height: 32px;
    border-radius: 10px;
}
.butao{
    display: flex;
    justify-content: center;
    margin-top: 25px;

   
}
.butao input{
    width: 200px;
    height: 35px;
    font-size: 25px;
    border-radius: 10px;
    background-color: aqua;
    margin-left: 100px;
    margin-top: 40px;
}
.butao button{
    font-size: 20px;
    border-radius: 10px;
    height: 40px;   
}
.butao img{
height: 25px;
width: 25px;
margin-top: 7px;
}
.check #check {
    height: 20px;
    width: 20px;
    margin-top: 7px;
    margin-left: 720px;
}
.batata{
    height: 20px;
    width: 200px;
    margin-top: -27px;
    margin-left: 750px;}
.check2 #check {
    height: 20px;
    width: 20px;
    margin-top:-500px;
    margin-left: 1020px;
}
.batata2{
    height: 20px;
    width: 200px;
    margin-top: -27px;
    margin-left: 1048px;
    font-size: 17px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 20px;
    font-family: InriaSerif, cursive;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 12px 20px;
}

header , footer {
    padding: 20px;
    color: rgb(0, 0, 0);
}



.Logo img{
    width: 100px;
    height: 100px;
    letter-spacing: 30px;
}
footer{
    display:flex;
    justify-content: space-around;
    position: static;
    padding: 10px;
    margin-top: auto;
    background-color: #E2DFDF;
    margin-top: auto;
}
footer p{
    padding-right: 1190px;
    margin: 40px;
}

p{
    font-family: InriaSerif, cursive;
}

.WhatsApp {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 800px;
    margin-top: 30px;
}

.Instagram {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 880px;
    margin-top: 30px;
}

.Facebook {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 970px;
    margin-top: 30px;
}

.Twitter {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1060px;
    margin-top: 30px;
}